@charset "utf-8";
/* CSS Document */

body,header,nav,section,article,footer,div,dl,dt,dd,ul,ol,li,table,tr,th,td,h1,h2,h3,h4,h5,h6,form,input,textarea,p,small { 
	margin: 0;
	padding: 0;
	font-size: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img, fieldset {
	border: 0;
}
em, strong, th, address, small {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
a {
	outline: none;
}
